// RESETS
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 li {
     list-style-type: none;
 }

body {
    font-family: 'Nunito';
    background: lightseagreen;
    min-height: 100vh;
}
.wrapper {
    min-height: 100vh;
}

.flexer {
     display: flex;
     &.col {
         flex-direction: column;
     }

     &.wrap {
         flex-wrap: wrap;
     }

     &.between {
         justify-content: space-between;
     }

     &>.grower {
         flex-grow: 1;
     }
     &>.noshrink {
        flex-shrink: 0;
     }
 }