// RESETS
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 li {
     list-style-type: none;
 }

body {
    font-family: 'Nunito';
    background: lightseagreen;
}
 .flexer {
     display: flex;

     &.wrap {
         flex-wrap: wrap;
     }

     &.between {
         justify-content: space-between;
     }
 }